name: CI

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install Task
        uses: arduino/setup-task@v2
      - name: Install dependencies
        run: task deps
      - name: Install modules
        run: task tidy
      - name: Check lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: run --timeout 5m  --config .golangci.yml ./logger/        

  Coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install Task
        uses: arduino/setup-task@v2
      - name: Install dependencies
        run: task deps
      - name: Install module
        run: task tidy
      - name: Code coverage
        run: task coverage
